<div class="row">
    <div class="col-10 col-md-8 p-5 mx-auto">
        <form [formGroup]="userAddressForm" (submit)="processAddress()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <textarea cols="3" class="form-control" id="address" formControlName="address"></textarea>
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" formControlName="state">
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" formControlName="city">
            </div>
            <div class="form-group">
                <label for="pincode">Pincode</label>
                <input type="text" class="form-control" id="pincode" formControlName="pincode" minlength="6" maxlength="6">
            </div>
            <div class="form-group">
                <label for="contact-number">Contact Number</label>
                <input type="text" class="form-control" id="contact-number" formControlName="contactNumber" minlength="10" maxlength="10">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!userAddressForm.valid">Next</button>
        </form>
    </div>
</div>