<form [formGroup]="pizzaFilterForm">
    <div class="form-check form-check-inline border px-2 py-2 m-0 mb-2 cursor-pointer switch w-50 text-center"
        [class.switch-checked]="isChecked(dishType)" *ngFor="let dishType of dishTypes">
        <label class="form-check-label cursor-pointer" [for]="dishType">
            {{ dishType }}
            <input class="form-check-input" type="radio" name="dishType" [id]="dishType" [value]="dishType"
                formControlName="dishType" hidden>
        </label>
    </div>
    <div class="form-group">
        <label for="price">
            Price : <output for="price" class="ml-2">Rs. {{ pizzaFilterForm.value.price }}</output>
        </label>
        <input type="range" class="custom-range" id="price" min="100" max="600" formControlName="price">
    </div>
    <div class="form-group">
        <select id="base" class="form-control" formControlName="base">
            <option value="" hidden selected>Pizza Base</option>
            <option *ngFor="let base of pizzaBases$ | async">{{ base }}</option>
        </select>
    </div>
    <div class="form-group">
        <select id="type" class="form-control" formControlName="type">
            <option value="" hidden selected>Pizza Type</option>
            <option *ngFor="let type of pizzaTypes$ | async">{{ type }}</option>
        </select>
    </div>
</form>