<header class="main-header">
    <div>
        <a href="#" class="main-header__brand">My Pizza</a>
    </div>
    <nav class="main-nav">
        <ul class="main-nav__items">
            <li class="main-nav__item">
                <a href="#">File</a>
            </li>
            <li class="main-nav__item">
                <a href="#">Edit</a>
            </li>
            <li class="main-nav__item">
                <a href="#">View</a>
            </li>
            <li class="main-nav__item">
                <a href="#">Help</a>
            </li>
        </ul>
    </nav>
</header>
<main class="main">
    <router-outlet></router-outlet>
</main>
<footer class="footer">
    Copyright @2020.
</footer>