/* You can add global styles to this file, and also import other style files */

$hover-color: #677979;
$active-color: #2b3a3a;

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.btn {
  padding: 0.2rem 0.7rem;
}

.cursor-pointer {
  cursor: pointer !important;
}

.switch {
  &:hover {
    background: $hover-color;
    color: #fff;
  }
}

.switch-checked {
  background: $active-color;
  color: #fff;
}
